.btn,
input,
.card,
select {
  border-radius: 0 !important;
}
.modal-content {
  border-radius: 0;
  border: none;
}
/* input form  */
.inputError {
  color: rgb(153, 0, 0);
}

.header-container {
  background-color: aquamarine;
}
